
Options -Indexes
RewriteEngine On

# Custom error pages
ErrorDocument 403 /mywiz/restrict/403
ErrorDocument 404 /mywiz/restrict/404


# Remove .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]




# Profile username URL, but exclude real special pages
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/mywiz/profile/?$
RewriteRule ^profile/([A-Za-z0-9_-]+)/?$ profile/customize.php?user=$1 [L,QSA]


